<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Submit Picks</title>
</head>
<body id=picksbody>
<h1 id="once"> Please select each person only once</h1>
<p><%= @message %>
<form action="confirm.html" method="post">
	<div>
		<label>Enter your name: </label>
		<input id="user" type="text" name="user">
	</div>
	<div>
		<label>Pick 1:</label>
		<select  id=pick1 required>name = pick1
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 2:</label>
		<select  id=pick2 required>name = pick2
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 3:</label>
		<select  id=pick3 required>name = pick3
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 4:</label>
		<select  id=pick4 required>name = pick4
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 5:</label>
		<select id=pick5 required>name = pick5
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 6:</label>
		<select  id=pick6 required>name = pick6
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 7:</label>
		<select  id=pick7 required>name = pick7
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 8:</label>
		<select id=pick8 required>name = pick8
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 9:</label>
		<select id=pick9 required>name = pick9
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 10:</label>
		<select id=pick10 required>name = pick10
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 11:</label>
		<select  id=pick11 required>name = pick11
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<div>
		<label>Pick 12:</label>
		<select  id=pick12 required>name = pick12
			<option value="" disabled selected hidden>Please Choose...</option>
			<option value=Wyatt>Wyatt</option>
			<option value=Max>Max</option>
			<option value=Evan>Evan</option>
			<option value=Pat>Pat</option>
			<option value=Stuart>Stuart</option>
			<option value=Bobby>Bobby</option>
			<option value=Tucker>Tucker</option>
			<option value=Brennan>Brennan</option>
			<option value=Nik>Nik</option>
			<option value=Ricky>Ricky</option>
			<option value=Cole>Cole</option>
			<option value=Dennis>Dennis</option>
		</select>
	</div>
	<button type="button" id="save">Save Picks</button>
	<button type="submit">Submit Official Picks</button>
	<a href=index.html>Home</a>
	</form>
<!-- 	<img class= friend id=wyatt src="Pictures/Wyatt.png">
	<img class=friend id=evan src="Pictures/Evan.jpg">
	<img class=friend id=brennan src="Pictures/Evan.jpg">
	<img class=friend id=nik src="Pictures/Evan.jpg">
	<img class=friend id=ricky src="Pictures/Ricky.png">
	<img class=friend id=stuart src="Pictures/Stuart.png">
	<img class=friend id=bobby src="Pictures/Bobby.jpg">
	<img class=friend id=pat src="Pictures/Patrick.png">
	<img class=friend id=cole src="Pictures/Cole.png">
	<img class=friend id=dennis src="Pictures/Dennis.jpg">
	<img class=friend id=tucker src="Pictures/Evan.jpg">
	<img class=friend id=max src="Pictures/Max.png">
	<script src="jquery-3.2.1.js"></script>
	<script src="jQuery.js"></script>
	<script src="script.js"></script> -->
</html>